aiodns>=3.0.0
aiohttp-jinja2==1.5
git+https://github.com/phenobarbital/aiohttp-session
aiohttp>=3.7.4post0
aioredis>=2.0.0
git+https://github.com/Axelancerr/aiospotify
asyncpg>=0.24.0
cchardet>=2.1.7
discord-ext-ipc>=2.1.1
git+https://github.com/Rapptz/discord.py/
humanize>=3.11.0
Jinja2>=3.0.1
pendulum>=2.1.2
setproctitle>=1.2.2
setuptools>=58.1.0
wheel>=0.37.0
