<!DOCTYPE html>
<html lang="en">

    <head>
        <!-- Page config -->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="robots" content="index, follow">
        <meta name="description" content="TODO: Add this">
        <meta name="keywords" content="TODO: Add this">
        <meta name="author" content="Axelancerr">
        <title>Life</title>
        <!-- Tags -->
        <meta property="og:url" content="https://axelancerr.xyz/">
        <meta property="og:type" content="website">
        <meta property="og:title" content="Life's web dashboard">
        <meta property="og:image" content="{{ static('/images/logo128x128.png') }}">
        <meta property="og:image:alt" content="Life bot logo">
        <meta property="og:description" content="TODO: Add this">
        <meta property="og:locale" content="en_GB"/>
        <meta property="article:author" content="Axelancerr">
        <meta name="twitter:site" content="https://axelancerr.xyz/">
        <meta name="twitter:creator" content="@Axelancerr">
        <meta name="twitter:url" content="https://axelancerr.xyz/">
        <meta name="twitter:title" content="Life's web dashboard">
        <meta name="twitter:description" content="TODO: Add this">
        <meta name="twitter:image" content="{{ static('/images/logo128x128.png') }}">
        <meta name="twitter:image:alt" content="Life bot logo">
        <!-- JS and CSS -->
        <link rel="stylesheet" href="{{ static('/css/app.css') }}"/>
        <script defer type="text/javascript" src="{{ static('/js/app.js') }}"></script>
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700,800" rel="stylesheet">
    </head>

    <body>

        <nav class="navbar navbar-expand-md py-md-3">
            <div class="container">

                <a class="navbar-brand me-4" href="/">
                    <img class="align-text-top d-inline-block" src="{{ static('/images/whitelogo50x26.png') }}" alt="logo">
                </a>

                {% if not user %}
                    <form class="me-auto">
                        <button class="btn btn-light fw-bold" type="submit" formaction="/login">Login</button>
                    </form>
                {% else %}
                    <div class="dropdown me-auto">
                        <a class="nav-link link-light dropdown-toggle fw-bold px-0" href="#" id="NavbarDropdownMenuLink" role="button" data-bs-toggle="dropdown">
                            <img class="rounded-circle mx-2" src="{{ user['avatar'] }}" alt="logo" style="width: 30px">
                            {{ user["username"] }}
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="NavbarDropdownMenuLink">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </div>
                {% endif %}

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#NavBar">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse flex-grow-0" id="NavBar">
                    <ul class="navbar-nav fw-bold">
                        <li><a class="nav-link link-light" href="{{ support_link }}">Support</a></li>
                        <li><a class="nav-link link-light" href="{{ github_link }}">Source</a></li>
                        <li><a class="nav-link link-light" href="{{ invite_link }}">Invite</a></li>
                    </ul>
                </div>

            </div>
        </nav>

        <div class="container">

            <div class="container p-5 text-center">
                <div class="row">
                    <div class="col-12">
                        <img class="img-fluid pb-5" src="{{ static('/images/whitelogo500x261.png') }}" alt="logo">
                    </div>
                    <div class="col-12">
                        <a class="btn btn-lg btn-light fw-bold" role="button" href="{{ invite_link }}">Invite me</a>
                    </div>
                    <div class="col-12">
                        <h3 class="pt-5 m-0">{{ username }}</h3>
                    </div>
                </div>
            </div>

        </div>

    </body>

</html>
