{% extends "base.html" %}
{% block title %}Life - Home{% endblock title %}
{% block description %}Home page{% endblock description %}

{% block inner_content %}

<div class="container">

    <div class="container p-5 text-center">
        <div class="row">
            <div class="col-12">
                <img class="img-fluid pb-5" src="{{ static('/images/whitelogo500x261.png') }}" alt="logo">
            </div>
            <div class="col-12">
                <a class="btn btn-lg btn-light fw-bold" role="button" href="{{ invite_link }}">Invite me</a>
            </div>
            <div class="col-12">
                <h3 class="pt-5 m-0">{{ username }}</h3>
            </div>
        </div>
    </div>

</div>

{% endblock inner_content %}
