<!DOCTYPE html>
<html lang="en">

    <head>
        <!-- Page config -->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="robots" content="index, follow">
        <meta name="description" content="TODO: Add this">
        <meta name="keywords" content="TODO: Add this">
        <meta name="author" content="Axelancerr">
        <title>Life</title>
        <!-- Tags -->
        <meta property="og:url" content="https://axelancerr.xyz/">
        <meta property="og:type" content="website">
        <meta property="og:title" content="Life's web dashboard">
        <meta property="og:image" content="{{ static('/images/logo128x128.png') }}">
        <meta property="og:image:alt" content="Life bot logo">
        <meta property="og:description" content="TODO: Add this">
        <meta property="og:locale" content="en_GB"/>
        <meta property="article:author" content="Axelancerr">
        <meta name="twitter:site" content="https://axelancerr.xyz/">
        <meta name="twitter:creator" content="@Axelancerr">
        <meta name="twitter:url" content="https://axelancerr.xyz/">
        <meta name="twitter:title" content="Life's web dashboard">
        <meta name="twitter:description" content="TODO: Add this">
        <meta name="twitter:image" content="{{ static('/images/logo128x128.png') }}">
        <meta name="twitter:image:alt" content="Life bot logo">
        <!-- JS and CSS -->
        <link rel="stylesheet" href="{{ static('/css/app.css') }}"/>
        <script type="text/javascript" src="{{ static('/js/app.js') }}"></script>
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700,800" rel="stylesheet">
    </head>

    <body>

        <nav class="navbar navbar-dark navbar-expand-md p-3">
            <div class="container g-0 g-md-3">

                <a class="navbar-brand p-0" href="/">
                    <img class="img-fluid align-text-top d-inline-block" src="{{ static('/images/whitelogo50x26.png') }}" alt="logo">
                </a>

                <div class="btn-group">

                    {% if user %}
                        <div class="dropdown">
                            <a class="dropdown-toggle nav-link link-light p-0 mx-2" href="#" id="NavbarDropdownMenuLink" role="button" data-bs-toggle="dropdown">
                                <img class="img-fluid rounded-circle me-2" src="{{ user['avatar'] }}" alt="logo" style="width: 35px">
                                {{ user["username"] }}
                            </a>
                            <ul class="dropdown-menu dropdown-menu-dark dropdown-menu-end mt-3">
                                <li><a class="dropdown-item active" href="/">Home</a></li>
                                <li><a class="dropdown-item" href="{{ url('/profile') }}">Profile</a></li>
                                <li><a class="dropdown-item" href="{{ url('/servers/') }}">Servers</a></li>
                                <li><hr class="dropdown-divider my-1"></li>
                                <li><a class="dropdown-item text-danger" href="{{ url('/logout') }}">Logout</a></li>
                            </ul>
                        </div>
                    {% else %}
                        <form>
                            <button class="btn btn-light" type="submit" formaction="/login">Login</button>
                        </form>
                    {% endif %}

                    <button class="btn navbar-toggler dropdown-toggle dropdown-toggle-split border-0" type="button" data-bs-toggle="collapse" data-bs-target="#NavBar">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#FFFFFF" class="bi bi-caret-down-fill" viewBox="0 0 16 16">
                            <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"></path>
                        </svg>
                    </button>

                </div>

                <div class="collapse navbar-collapse" id="NavBar">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item"><a class="nav-link" href="{{ support_link }}">Support</a></li>
                        <li class="nav-item"><a class="nav-link" href="{{ github_link }}">Source</a></li>
                        <li class="nav-item"><a class="nav-link" href="{{ invite_link }}">Invite</a></li>
                    </ul>
                </div>

            </div>
        </nav>


        <div class="container">

            <div class="container p-5 text-center">
                <div class="row">
                    <div class="col-12">
                        <img class="img-fluid pb-5" src="{{ static('/images/whitelogo500x261.png') }}" alt="logo">
                    </div>
                    <div class="col-12">
                        <a class="btn btn-lg btn-light fw-bold" role="button" href="{{ invite_link }}">Invite me</a>
                    </div>
                    <div class="col-12">
                        <h3 class="pt-5 m-0">{{ username }}</h3>
                    </div>
                </div>
            </div>

        </div>

    </body>

</html>
