{% extends "base.html" %}
{% block title %}Life - Servers{% endblock title %}
{% block description %}Server list{% endblock description %}

{% macro guild_card(guild, is_mutual) %}

    <div class="col-4 col-sm-3 col-md-3 col-lg-2 col-xl-2 p-2">
        <div class="card shadow p-2">
            <img class="card-img-top img-fluid rounded-3" src="{{ guild.icon or static('/images/no_image100x100.png') }}" alt="server icon">
            <div class="card-body p-0 pt-2">
                {{ guild.name }}
            </div>
            {% if is_mutual %}
                <a class="stretched-link" href="/servers/{{ guild.id }}"></a>
            {% else %}
                {% if guild.permissions.manage_guild or guild.permissions.adminstrator %}
                    <a class="stretched-link" href="/api/invite?guild_id={{ guild.id }}"></a>
                {% else %}
                    <a class="stretched-link no-permission-toast"></a>
                {% endif %}
            {% endif %}
        </div>
    </div>

{% endmacro %}

{% block inner_content %}

<div class="container">

    {% if mutual_guilds %}
        <div class="container mb-4 mt-2">

            <h2>
                Life is in these servers:
                <small class="text-muted">Click on a card to go that servers dashboard.</small>
            </h2>

            <div class="row masonry">
                {% for guild in mutual_guilds %}
                    {{ guild_card(guild, True) }}
                {% endfor %}
            </div>

        </div>
    {% endif %}

    {% if non_mutual_guilds %}
        <div class="container">

            <h2>
                Life is not in any of these servers:
                <small class="text-muted">Click on a card to invite it to that server.</small>
            </h2>

            <div class="row masonry">
                {% for guild in non_mutual_guilds %}
                    {{ guild_card(guild, False) }}
                {% endfor %}
            </div>

        </div>
    {% endif %}

    <div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
        <div id="noPermissionToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header">
                <img src="..." class="rounded me-2" alt="...">
                <strong class="me-auto">Bootstrap</strong>
                <small>11 mins ago</small>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body">
                Hello, world! This is a toast message.
            </div>
        </div>
    </div>

</div>

{% endblock inner_content %}
